@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/** Base reset **/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

*,
  *::before,
  *::after {
    box-sizing: inherit;
  }

html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* End Base Reset */

/* Pre-loader */
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 20vw ;
  height: auto;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

/* End Pre-loader */


/* Body */
body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
/* End */

/* Navbar */
/* Adding Responsiveness to the navbar */
.navbar{
    display: flex;
    justify-content: flex-end;
    position:fixed;
    background-color: #8af05b;
    top: 0px;
    height: 10vh;
    width:100%;
    z-index: 10;
    box-shadow: 0 1px 1px gray;
}

.navbar>ul{
    padding: 0;
    display: flex;
    margin-right: 6vw;
}

.navbar>ul>li{
    list-style: none;
    padding: 1.5vh 3vh;
}

.navbar>ul>li>a{
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    font-size: 2em;
    color: rgb(131, 131, 131);
    font-weight: bold;
}

.navbar>ul>li:hover>a{
    color: #000;
 }

.clearfix:after {
    content: "";
    display: table;
    clear: right;
}

.navbar>ul>li>a:before{
    content: '';
    width: 0;
    background: #000;
    transition: 0.5s;
    left: 0;
    top:-5px;
    position: absolute;
    height: 3px;
}

.navbar>ul>li:hover>a:before{
    transform: translateX(100%);
    width: 50%;
}

#menu .current > a{
  color:black!important;
}

#menu .current >a::before{
  transform: translateX(100%);
  width: 50%;
}

.toggle{
    display: block;
    position: absolute;
    background-color: rgba(32, 32, 32, 0.3);
    right:3.5vw;
    top:2vh;
    color: #fff;
    padding: 0.75vmin;
    cursor: pointer;
    font-weight: bold;
    font-size: 4vh;
}

@media(max-width:760px){
    .navbar{
        padding: 0 0;
    }
    .navbar>ul{
        width: 100%;
        top: -4px;
        display: none;
    }

    .navbar>ul.active{
      display: block;
      background-color: #8bcae7ad;
      margin: 10vh 0;
      padding:2vmin;
      width:100%
  }
  .navbar>ul>li{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar>ul>li>a{
    width: 100%;
  }
} 
 /* Navbar End*/

/* Particle JS */
/* Making the background responsive is still a pending work */
#particles-js{
    background: url(/images/background.png) ; 
    background-color: rgb(35, 141, 202);
    background-size: cover;
    margin-top:10vh;
    height:80vh;
    width: 100vw;
    border-top: blue 60px;
    position: relative;    
}
/* End particle JS */


/* Header inside banner */
#particle-js-banner{
    position: relative;
}

.header{
    position: absolute;
    width:80%;  
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    color:white;
    padding: 2vmin;
}

.banner-heading{
    font-size: 3vmax;
    font-weight: 1000;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

.banner-mid{
    font-size: 2vmax;
    font-weight: bolder;
    text-align: center;
    color:#8af05b;
    text-shadow: 1px 1px 5px black;
}

.about-section{
    font-size: 2vmax;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}  
 
@media (max-width: 400px) and (max-height: 300px) {
    .banner-heading{
        font-size: 5vmax;
        font-weight: 1000;
    }
    
    .banner-mid{
        font-size: 3vmax;
        font-weight: bolder;
    }
    
    .about-section{
        font-size: 3vmax;
        font-weight: 600;
    }
} 
/* End Header text inside banner */

/* Category Section */
#category-section{
    margin:0;
    padding: 10vmax 0;
    width:100vw; 
    height: auto;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -ms-flex-align: center;
    justify-content: space-around;
    position: relative;
}

#category-section>h2{
    position: absolute;
    top:4vmax;
    font-family: 'Lobster', cursive;
    font-size: 5vmax;
    color: #8af05b;
    text-shadow: 1px 1px 2px black;
}

#category-section>a{
    text-decoration: none;
    font-size: 20px;
    margin: 10px 5px 10px 5px;
    height: 125px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px gray;
    background-color: #fff;
}

#category-section>a:hover{
    box-shadow: 0 0 3px 6px gray;
    transform: scale(1.1);
}

.cp,.cp:hover{
    border-bottom: 5px solid rgb(255, 128, 223);
    color:rgb(255, 128, 223);
    width: 100%;
    height: 100%;
}

.webd,.webd:hover{
    border-bottom: 5px solid rgb(243, 174, 105);
    color:rgb(243, 174, 105);
    width: 100%;
    height: 100%;
}

.network,.network:hover{
    border-bottom: 5px solid rgb(252, 92, 92);
    color:rgb(252, 92, 92);
    width: 100%;
    height: 100%;
}

.iot,.iot:hover{
    border-bottom: 5px solid rgb(181, 252, 76);
    color:rgb(181, 252, 76);
    width: 100%;
    height: 100%;
}

.security,.security:hover{
    border-bottom: 5px solid rgb(142, 142, 247);
    color:rgb(142, 142, 247);
    width: 100%;
    height: 100%;
}

.cp-i,.webd-i,.network-i,.iot-i,.security-i{
    color: inherit !important;
    padding-top:15px;
    padding-left:30px;
    font-size: 30px;
}

.cp-p,.webd-p,.network-p,.iot-p,.security-p{
    color:black;
    font-family: "Poppins",sans-serif;
    font-size:inherit ;
    margin-top: 5px;
    text-align: center;
}

#category-section>a>div>i{
    font-size: 4vmin;
    text-align: center;
} 

@media (max-width:760px){
    #category-section>a>div{
        flex-direction: row;
    }     
}
/* End Category Section */

/* Skills Section */
#skills{
    /* background-color: rgb(235, 235, 229); */
    background: #1a1a1a;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#skills>h2{
    font-family: 'Lobster', cursive;
    font-size: 5vmax;
    color: #8af05b;
    text-shadow: 1px 1px 2px black;    
    text-align: center;
    display: block;
    margin: auto;
}

.skills-section{
    position: relative;
    max-width: 100vw;
    padding: 15vh 20px;
    display: block;
    margin: auto;
}

.skills-bar-container {
    position: relative;
    margin-top: 20vh;
    width: 40%;
    min-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
  }
  .skills-bar-container li {
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  .skills-bar-container li .progressbar-title {
    color: #fff;
  }
  .skills-bar-container li .progressbar-title h3 {
    display: inline-block;
  }
  .skills-bar-container li .progressbar-title .percent {
    position: absolute;
    right: 5px;
  }
  .skills-bar-container li .bar-container {
    background: #555;
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }
  .skills-bar-container li .bar-container .progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .skills-bar-container li .bar-container #progress-html {
    -webkit-animation-name: progress-html;
    animation-name: progress-html;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .skills-bar-container li .bar-container #progress-css {
    -webkit-animation-name: progress-css;
    animation-name: progress-css;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .skills-bar-container li .bar-container #progress-javascript {
    -webkit-animation-name: progress-javascript;
    animation-name: progress-javascript;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .skills-bar-container li .bar-container #progress-php {
    -webkit-animation-name: progress-php;
    animation-name: progress-php;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .skills-bar-container li .bar-container #progress-cpp {
    -webkit-animation-name: progress-cpp;
    animation-name: progress-cpp;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .skills-bar-container li .bar-container #progress-java {
    -webkit-animation-name: progress-java;
    animation-name: progress-java;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }

  .skills-bar-container li .bar-container #progress-python {
    -webkit-animation-name: progress-python;
    animation-name: progress-python;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .skills-bar-container li .bar-container #progress-bash {
    -webkit-animation-name: progress-bash;
    animation-name: progress-bash;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }

  .skills-bar-container li .bar-container #progress-git {
    -webkit-animation-name: progress-git;
    animation-name: progress-git;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .skills-bar-container li .bar-container #progress-docker {
    -webkit-animation-name: progress-docker;
    animation-name: progress-docker;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }
  
   .progressred {
     background-color: #c0392b;
   }
  
   .progressblue {
     background-color: #1199ff;
   }
  
   .progresspurple {
     background-color: #9b59b6;
   }
  
   .progressorange {
     background-color: #ffa500;
   }
  
   .progressgreen {
     background-color: #27ae60;
   }

   .progresspink{
       background-color:pink ;
   }

   .progressnavy{
      background-color:navy ;
   }

  .progressturquoise{
      background-color: turquoise ;
   }

  .progressmaroon{
       background-color:rgb(243, 10, 10) ;
   }

  .progressteal {
      background-color: rgb(72, 160, 160);
  }


/* HTML */
 @keyframes progress-html {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }

  @-webkit-keyframes progress-html {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  
  @-moz-keyframes progress-html {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }

/* CSS */
   @keyframes progress-css {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  
  @-webkit-keyframes progress-css {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }

  @-moz-keyframes progress-css {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }  

/* JavaScript */
@-webkit-keyframes progress-javascript {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
@-moz-keyframes progress-javascript {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes progress-javascript {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
 
  /* Php */
  @-webkit-keyframes progress-php {
    0% {
      width: 0%;
    }
    100% {
      width: 35%;
    }
  }
  @-moz-keyframes progress-php {
    0% {
      width: 0%;
    }
    100% {
      width: 35%;
    }
  }
  @keyframes progress-php {
    0% {
      width: 0%;
    }
    100% {
      width: 35%;
    }
  }

  /* Cpp */
  @-webkit-keyframes progress-cpp {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  @-moz-keyframes progress-cpp {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  @keyframes progress-cpp {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }

  /* Java */
  @-webkit-keyframes progress-java {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  @-moz-keyframes progress-java {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes progress-java {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }

/* Python */
  @-webkit-keyframes progress-python {
    0% {
      width: 0%;
    }
    100% {
      width: 43%;
    }
  }
  @-moz-keyframes progress-python {
    0% {
      width: 0%;
    }
    100% {
      width: 43%;
    }
  }
  @keyframes progress-python {
    0% {
      width: 0%;
    }
    100% {
      width: 43%;
    }
  }

  /* Bash */
  @-webkit-keyframes progress-bash {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
  @-moz-keyframes progress-bash {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
  @keyframes progress-bash {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }

  /* Git */
  @-webkit-keyframes progress-git {
    0% {
      width: 0%;
    }
    100% {
      width: 55%;
    }
  }
  @-moz-keyframes progress-git {
    0% {
      width: 0%;
    }
    100% {
      width: 55%;
    }
  }
  @keyframes progress-git {
    0% {
      width: 0%;
    }
    100% {
      width: 55%;
    }
  }

  /* Docker */
  @-webkit-keyframes progress-docker {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
  @-moz-keyframes progress-docker {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
  @keyframes progress-docker {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
/* End Skills Section */


/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  font-family: 'Lobster', cursive;
  font-size: 5vmax;
  color: #8af05b;
  text-shadow: 1px 1px 2px black;
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}


/* End Projects Section */

/* Achievements Section */
#achievements>h2{
    font-family: 'Lobster', cursive;
    font-size: 5vmax;
    color: #8af05b;
    text-shadow: 1px 1px 2px black;
}
/* End Achievements Section */

/* Footer */
 #footer{
    margin: 0;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 2rem 0 2rem;
    background: #8af05b;
    border-top: 4px solid black;
    flex-direction: column;
    text-align: center;
 }

#contact>h2{
    font-family: "Poppins",sans-serif;   
    text-align: center; 
    font-weight: 1000;
    font-size: 3.5rem;
}

#contact>ul{
    display: flex;
    justify-content: center;
    text-align: center;
}

#contact>ul>li{
    list-style: none;
    margin: 0 5px;
}

#contact>ul>li>a{
    color:#000;
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
}

#contact>ul>li>a:hover{
    font-size: 2.7rem;
    color: honeydew;
    transform: translateY(0.5rem);
}

.end-banner{
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    background-color:#8af05b;
    font-size: 2vh;
    font-weight: 800;
    margin: 0px;
    padding: 5px 0;
    color: black;
}
/* End */
